<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="restAssuredtestSuite"> 

<listeners>
	<listener class-name="com.Employeeapi.utilities.Listeners"></listener>
	
</listeners>


  <test thread-count="5" name="EmployeerestAssuredTest">
    <classes>
      <class name="com.Employeeapi.testCases.TC_001_GET_All_Employees"/>
      <class name="com.Employeeapi.testCases.TC_002_GET_Single_Employee_Record"/>
      <class name="com.Employeeapi.testCases.TC_003_POST_Employee_Record"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
